@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.img {
    background: url(a552afd47f7e647a20cdd3780d6a5e2e.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px groove #ffffff86;
    font-family: "Inconsolata", monospace;
}

#banner {
    font-size: 70px;
    color: rgba(255, 192, 203, 0.455);
    /* text-shadow:0px 0px 0px black; */
}

#clock1 {
    width: 150px;
    height: 40px;
    /* background-color:rgba(11, 75, 184, 0.28); */
    background-color: rgba(2, 3, 5, 0.818);
    border-radius: 5px;
    align-content: center;
    padding: 0px 5px;
    position: absolute;
}

#clock {
    /* text-shadow:2px 2px 2px #c3ede3; */
    text-shadow: 1px 0px 10px #c3ede3;
    font-family: monospace;
    font-weight: 500;
    font-size: 20px;
    /* color:rgb(255, 221, 0); */
    color: rgb(229, 179, 225);
    border: 3px solid rgba(195, 145, 213, 0.767);
    border-radius: 2px;
    outline: 2px groove;
    outline-offset: 10px;
}